<nav class="header__nav container">
    <div class="header__menu menu">
        <a href="#" class="menu__item">Home</a>
        <a href="#" class="menu__item">Product</a>
        <a href="#" class="menu__item">Pricing</a>
        <a href="#" class="menu__item">About</a>
        <a href="#" class="menu__item">Contact</a>
        <div header__logo> <img src="../partials/img/logo.png" alt="logo">
            <div class="header__right_side_contacts">
                <a href="#" class="header__left_side_contacts_tw"><img src="../partials/img/twitter.png" alt="tw"></a>
                <a href="#" class="header__left_side_contacts_fb"><img src="../partials/img/facebook.png" alt="fb"></a>
                <a href="#" class="header__left_side_contacts_in"><img src="../partials/img/instagram.png" alt="in"></a>
            </div>
        </div>
    </div>
</nav>