<header class="header">
    <nav class="header__nav container">
        <div class="header__menu menu">
            <a href="#" class="menu__item">Home</a>
            <a href="#" class="menu__item">Product</a>
            <a href="#" class="menu__item">Pricing</a>
            <a href="#" class="menu__item">About</a>
            <a href="#" class="menu__item">Contact</a>
            <div class="header__logo"> <img src="../partials/img/logo.png" alt="logo">
                <div class="header__right_side_contacts">
                    <a href="header__right_side_contacts_tw"><img src="../partials/img/twitter.png" alt="twitter"></a>
                    <a href="header__right_side_contacts_fb"><img src="../partials/img/facebook.png" alt="facebook" </a>
                        <a href="header__right_side_contacts_in"><img src="../partials/img/instagram.png"
                                alt="instagram"></a>
                </div>
            </div>
        </div>
    </nav>
    <div class="header__banner container">
        <h1 class="header__h1">The best products
            start with Figma</h1>
        <p>Most calendars are designed for teams. Slate is designed
            for freelancers</p>
        <div class="header__buttons">
            <a href="#" class="button"><span>Try For Free</span></a>
        </div>
    </div>
</header>